<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wuyun.mapper.UserRoleMapper">

    <!--void insertUserRole(@Param("userId") Integer userId, List<String> roleIdList);-->
    <insert id="insertUserRole">
        INSERT INTO b_user_role(user_id, role_id) VALUES
        <foreach collection="roleIdList" item="roleId" separator=",">
            (#{userId},#{roleId})
        </foreach>
    </insert>
</mapper>
